.App {
  text-align: center;
  padding: 4px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

#user-investigate {
  float: left;
  width: 300px;
}

#user-investigate-submit {
  display: block;
}
